<div class="text-center">
  <!--  -->
  <% if current_user.secret %>
    <h1 style="color: white;">Message</h1>
  <% else %>
    <h1>Message</h1>
  <% end %>
  <div class="container" style="max-width: 800px;">
    <ul class="list-group center text-center">
      <li class="list-group-item">
        <div class="container-fluid">
          <%= form_for(@m, remote: true) do |f| %>
              <% if @m.errors.any? %>
                  <% @m.errors.full_messages.each do |msg| %>
                      <div class="alert alert-danger"><%= msg %></div>
                  <% end %>
              <% end %>

              <!-- Hidden field for receiver of message -->
              <div class="form-seperation">
                <%= f.label :receiver, :class => 'pull-left' %>
                <%= f.text_field(:receiver, :value => @convo_name, :class => 'form-control') %>
              </div>

              <div class="form-seperation">
                <%= f.label :content, :class => 'pull-left' %> <br>
                <%= f.text_field(:content, :required => true, :class => 'form-control') %>
              </div>

              <div style="padding-top: 10px;">
                <%= f.submit "Send", :class => 'btn btn-default form-control' %>
              </div>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>