<div class="text-center">
  <!--  -->
  <div class="container">
    <ul class="list-group center text-center">
      <li class="list-group-item">
        <h4>
        <%= @convo_name = @m.sender == current_user.username ? @m.receiver : @m.sender %>
        </h4>
      </li>

      <div class="messenger" id="messenger">
      <% @all.first(100).each_with_index do |mes, i| %>

          <li class="list-group-item" style="border-top: 0px; border-bottom: 0px; padding-bottom: 0px;">
            <div class="container-fluid">
              <% if mes.sender == current_user.username %>
                <p class="pull-right message-sent"> <%= mes.content %> </p>
              <% else %>
                  <p class="pull-left message-received"> <%= mes.content %> </p>
            <% end %>
            </div>
          </li>

          <li class="list-group-item" style="border-top: 0px; border-bottom: 0px; padding-top: 1px;">
            <div class="container-fluid">
              <% if mes.sender == current_user.username %>
                <i id="<%= mes.id %>" class="pull-right">
                  <script type="text/javascript">
                      document.getElementById("<%= mes.id %>").innerHTML =
                          new Date("<%= mes.created_at.strftime("%m/%d/%y %H:%M:%S %p") %>").toString();
                  </script>
                </i>
              <% else %>
                <i id="<%= mes.id %>" class="pull-left">
                  <script type="text/javascript">
                      document.getElementById("<%= mes.id %>").innerHTML =
                          new Date("<%= mes.created_at.strftime("%m/%d/%y %H:%M:%S %p") %>").toString();
                  </script>
                </i>
              <% end %>
            </div>
          </li>

      <% end %>
      </div>

      <li class="list-group-item">
        <div class="container-fluid">
          <%= form_for(@new_m, remote: true) do |f| %>
              <% if @new_m.errors.any? %>
                  <% @new_m.errors.full_messages.each do |msg| %>
                      <div class="alert alert-danger"><%= msg %></div>
                  <% end %>
              <% end %>

              <!-- Hidden field for receiver of message -->
              <div hidden class="form-seperation">
                <%= f.label :receiver, :class => 'pull-left' %>
                <%= f.text_field(:receiver, :value => @convo_name, :class => 'form-control') %>
              </div>
              <div class="form-seperation">
                <a onclick="getLocation()" class="pull-left">Location (click to send location)</a>
                <%= f.text_field(:content, :required => true, :class => 'form-control', id: 'message', :autocomplete => :off) %>
              </div>

              <div style="padding-top: 10px;">
                <%= f.submit "Send", :class => 'button btn btn-default form-control' %>
              </div>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>


<script type="application/javascript">
    var x = document.getElementById("message");
    function getLocation() {
        if (navigator.geolocation) {
            x.value = "Locating..."
            navigator.geolocation.getCurrentPosition(showPosition);
        }
    }
    function showPosition(position) {
        x.value = position.coords.latitude + ", " + position.coords.longitude
    }

    function pageScroll() {
        var myDiv = document.getElementById("messenger");
        myDiv.scrollTop = myDiv.scrollHeight;
    }
    window.onload = pageScroll();

    var incomingRequests = function() {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', "/messages/check/" + "<%= @m.convo_id %>", true);
        xhr.send();
        xhr.addEventListener("readystatechange", processRequest, false);

        function processRequest(e) {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var response = JSON.parse(xhr.responseText);
                renderResults(response.size);
            }
        }
    }

    var renderResults = function(response) {
        if (response > 0 && response > <%= @all.size %>) {
              location = location;
        }
    }

    incomingRequests()
    setInterval(incomingRequests, 5000)
</script>