<div class="container-fluid text-center" style="padding-bottom: 50px;">
  <div clas="row text-center">
    <div class="col text-center">
      <!--  -->
      <div class="text-center">
        <!--  -->
        <div class="container">
          <ul class="list-group center text-center ">
            <li class="list-group-item">
              <div class="container-fluid">
                <h3><%= @post.title %></h3>
              </div>
              by: <strong><%= @post.owner %></strong>
              <% datedpost = @post.created_at.localtime() %>
              on: <%= datedpost.strftime('%m-%d-%y') %>
            </li>
            <li class="list-group-item">
              <div class="post-body">
                <div class="container-fluid">
                  <p class="body-text"><%= @post.body %></p>
                </div>
              </div>
            </li>
            <!-- Display content of post -->
            <li class="list-group-item" style="border-top: none;">
              <!-- Display who has posted the post -->
              <div class="container-fluid">
                <% if @post.coordinate != "" %>
                <p class="pull-left">
                  Location: <%= @post.coordinate %>
                </p>
                <% end %>
                <!-- Add edit or delete buttons if the current user is the owner of the post -->
                <% if(current_user != nil && @post.owner == current_user.username) %>
                    <div class="pull-right">
                      <%= link_to "Edit", edit_post_path(:id => @post.id), :class => "btn btn-default"%>
                      <%= link_to "Delete", post_path(@post),
                                  method: :delete,
                                  data: {confirm: 'Are you sure?'},
                                  :class => "delete-btn btn btn-default"%>
                    </div>
                <% end %>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>