<!DOCTYPE html>
<html>
  <head>
    <title>Rendezvous</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if current_user != nil && current_user.secret == true %>
  <body style="background: url(<%= image_url('Wireframe-Earth-Globe-white.png') %>) no-repeat center center fixed; background-color: #2E2F30;">
  <% else %>
  <body>
  <% end %>

  <% if current_user != nil %>
    <!-- Nav bar -->
    <nav class="navbar navbar-default">
      <!-- Styling for secret and non secret users -->
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- About/Page -->
          <%= link_to("Rendezvous", home_index_path, :class => 'navbar-brand') %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <!-- Login Button -->
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <% if !current_user.secret %>
                <%= link_to('Create Post', new_post_path, :class => 'btn btn-default') %>
              <% else %>
                <%= link_to('Message', new_message_path, :class => 'btn btn-default') %>
                <% if !current_page?(explore_profile_path) %>
                <%= link_to current_user.username, explore_profile_path, :class => 'btn navbar-btn btn-default float-right' %>
                <% else %>
                <%= link_to "Edit Profile", edit_user_registration_path, :class => 'btn navbar-btn btn-default float-right' %>
                <% end %>
                <%= link_to("Logout", destroy_user_session_path, :method => :delete, :class => 'btn navbar-btn btn-danger float-right')%>
              <% end %>
            <% else %>
                <%= link_to('Login', new_user_session_path, :class => 'btn navbar-btn btn-success float-right') %>
            <% end %>
          </ul>

          <% if !current_user.secret %>
            <%= form_tag(explore_search_url, {:class => "navbar-form navbar-left", method: 'post'}) do %>
                <%= text_field_tag 'search_word','', :placeholder => @search_word, :class => "form-control" %>
                <%= submit_tag('Submit', {:class => "btn btn-default"}) %>
            <% end %>
          <% end %>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  <% end %>

  <!-- Messages and Alerts -->
  <% if !notice.nil? && notice != "Message was successfully sent." %>
      <div class="container-fluid text-center" style="padding-top: 50px;">
        <div clas="row text-center">
          <div class="col text-center">
            <div class="text-center">
              <div class="container alert alert-success">
                  <%= notice %>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>

  <% if !alert.nil? %>
      <div class="container-fluid text-center" style="padding-top: 50px;">
        <div clas="row text-center">
          <div class="col text-center">
            <div class="text-center">
              <div class="container alert alert-danger">
                <%= alert %>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>

  <%= yield %>
  </body>
</html>
